---
title: Louis Paulet side projects
layout: layouts/home.njk
description: homepage layout
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<div id='intro'>
  <img src="https://i.imgur.com/1rXmpj2.jpg" alt="drawing of the architecture of 4 buildings"> </br>
  <p>
    Github page of Louis Paulet - 
    <a href="https://www.linkedin.com/in/louispaulet/">Linkedin</a> - 
    <a href="https://github.com/louispaulet/">Github</a>  - 
    <a href="https://the_french_artist.artstation.com/">Artstation</a>  
  </p>
</div>

<div id="posts">
  <h2>Latest posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>