---
title: Louis Paulet side project hub
layout: layouts/home.njk
description: homepage layout
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  Github page of Louis Paulet - 
  <a href="https://github.com/louispaulet/">Github</a>.  - 
  <a href="https://www.linkedin.com/in/louispaulet/">Linkedin</a>.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>